In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
dataset = pd.read_excel("world_hapiness_2025.xlsx")

In [5]:
dataset_poland = dataset[dataset["Country name"] == "Poland"]

In [6]:
dataset_poland

,Year,Rank,Country name,Ladder score,upperwhisker,lowerwhisker,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
353,2024,26,Poland,6.6730,6.73400,6.611000,1.666000,1.5950,0.630000,0.790000,0.021000,0.169000,1.802000
1404,2023,35,Poland,6.4420,6.51300,6.370000,1.738000,1.4170,0.639000,0.600000,0.081000,0.175000,1.791000
1405,2022,39,Poland,6.2600,6.34300,6.177000,1.767000,1.4740,0.477000,0.511000,0.120000,0.139000,1.772000
1406,2021,48,Poland,6.1230,6.20500,6.040000,1.758000,1.1740,0.712000,0.523000,0.124000,0.140000,1.693000
1407,2020,45,Poland,6.1660,6.24500,6.087000,1.309000,0.9820,0.668000,0.558000,0.080000,0.130000,2.438000
1408,2019,43,Poland,6.1863,6.25588,6.116719,1.169229,1.3104,0.868038,0.557904,0.063374,0.160541,2.056798
1409,2018,40,Poland,6.1820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1410,2017,42,Poland,6.1230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1411,2016,46,Poland,5.9730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1412,2015,57,Poland,5.8350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1413,2014,60,Poland,5.7910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1414,2012,51,Poland,5.8220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1415,2011,53,Poland,5.8030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN